body {
    font-family: Roboto;
    overflow-y: scroll;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.header {
    border-bottom: 1px solid #DDDDDD;
}

.header__navbar {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: center;
    /* flex-direction: column; */
    padding: 26px 0;
}

.header__logo {
    margin-right: 300px;
}

.header__link {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    margin-right: 60px;
}
.header__text {
    color: #4c5866;
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    transition: color 0.3s;
}

.header__text:hover {
    color: #7875FE;
}

.header__text:active {
    color: #4946B4;
}

.header__btns {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}

.header__btns button{
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: color 0.3s;
    color: #4C5866;
}

.header__btns button:hover{
    color: #7875FE;
}

.header__btns button:active{
    color: #4946B4;
}

.header__btn-search {
}

.header__btn-login {
}

.main {
}

.hero {
    display: flex;
    flex-wrap: wrap;
}

.hero__info {
    margin: 130px 125px 130px 0;
    max-width: 445px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.hero__title {
    margin: 0;
    font-weight: 400;
    font-size: 60px;
    line-height: 100%;
    color: #4C5866;
}

.hero__subtitle {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #85859B;
}

.btn {
    align-self: flex-start;
    padding: 24px 90px;
    border: 1px solid #7875FE;
    color: #7875FE;
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    transition: color 0.3s, background-color 0.3s;
}

.btn:hover {
    color: #fff;
    background-color: #7875FE;
}

.btn:active {
    color: #fff;
    background-color: #4946B4;
}

.hero__img {
    max-width: 100%; 
    height: auto;
    margin-top: 60px;
}

.result {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #EBEBEB;
}
.result__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    
}
.result__card-item {
    display: flex;
    gap: 30px;
    flex-wrap: no-wrap;
    padding-top: 20px;
    border-top: 1px solid #C0C0C0;
    
}

.result__card-img {
    
}

.result__card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 160px;
}

.result__card--title {
    align-self: start;
    color: #666666;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
}
.result__card--descr {
    margin: 0;
    align-self: start;
    color: #85859B;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
}

.result__content {
    display: flex;
    flex-wrap: wrap;
    margin: 90px 40px;
}

.result-image {
    max-width: 100%; 
    height: auto;
}

.result__info {
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.result__title {
    margin: 0;
    color: #666666;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    
}
.result__descr {
    margin: 0;
    color: #85859B;
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 90px 0 90px 0;
}

.product__card {
    max-width: 255px;
}

.product__img {
    
}

.product__name {
    color: #666666;
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
}

.product__tirazh {
    color: #B5B5BD;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;

}

.product__descr {
    color: #85859B;
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;  
}

.product__link {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #7875FE;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    transition: color 0.3s;
}

.product__link:hover {
    color: #4946B4;
}

.partners {
    padding: 90px 0 90px 0;
    background-color: #EBEBEB;
}

.partners__items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.partner__item-img {
    box-sizing: border-box;
    width: 255px;
    height: 135px;
    padding: 35px 25px;
    border: 1px solid #C4C4C4;
}

.sketchbook {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.sketchbook__info {
    max-width: 350px;
    display: flex;
    margin-top: 115px;
}
.sketchbook__title {
    color: #666666;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
}
.sketchbook__subtitle {
    margin: 10px 0 30px;
    color: #85859B;
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
}

.sketchbook__img {
    max-width: 100%; 
    height: auto;
    margin-top: 90px;
}